.channel {
  margin-bottom: 50px;
}

.channel__heading {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 33px;
  color: $color-heading;

  &::before {
    content: "";
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
    background-image: url("../img/dolli-blair-img.jpg");
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center center;
  }
}

.channel__list {
  @include reset-list;
  display: flex;
}

.channel__item {
  position: relative;
  z-index: 1;
  margin-right: 40px;
}

.channel__watch-later-button {
  display: none;
  position: absolute;
  z-index: 2;
  width: 33px;
  height: 33px;
  top: 10px;
  right: 10px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url("../img/arrow-circle-down.svg");
  background-repeat: no-repeat;
  background-size: 33px 33px;
  background-position: center center;
  cursor: pointer;
  outline: none;
}

.channel__item:hover .channel__watch-later-button {
  display: block;
}

.channel__link {
  font-size: 13px;
  line-height: 16px;
  color: $color-primary;
  text-decoration: none;
}

.channel__demo-wrapper {
  position: relative;
  z-index: 1;
  margin-bottom: 10px;

  &::before {
    position: absolute;
    z-index: 1;
    content: "4:15";
    bottom: 10px;
    right: 10px;
    width: 47px;
    height: 24px;
    padding: 3px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    border-radius: 12px;
  }
}

.channel__demo-img {
  display: block;
  border-radius: 14px;
}

.channel__item-heading {
  margin: 0;
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 20px;
  color: $color-heading;
}

.channel__item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.channel__item-info-left {
  display: flex;
}

.channel__item-views {
  display: flex;
  align-items: center;
  margin: 0;

  &::after {
    content: "";
    width: 2px;
    height: 2px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: $color-primary;
  }
}

.channel__item-uploaded {
  margin: 0;
}

.channel__name {
  margin: 0;
  font-weight: normal;
}



@include retina-bg {
  .channel__heading {
    &::before {
      background-image: url("../img/dolli-blair-img@2x.jpg");
    }
  }
}