.recommended {
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
}

.recommended__heading {
  margin: 0;
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 33px;
  color: $color-heading;
}

.recommended__list-controller-button-wrapper {
  position: absolute;
  z-index: 1;
  top: 4%;
  right: 9.74%;
  display: flex;
}

.recommended__list-controller-button {
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: rgba(0, 0, 0, 0.24);
  background-repeat: no-repeat;
  background-size: 7px 11px;
  background-position: center center;
  cursor: pointer;
  outline: none;
  transition: transform 0.3s ease;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &--prev {
    background-image: url("../img/left-arrow.svg");

    &:hover {
      transform: skewX(20deg);
    }
  }

  &--next {
    background-image: url("../img/right-arrow.svg");

    &:hover {
      transform: skewX(-20deg);
    }
  }
}

.recommended__list {
  @include reset-list;
  display: flex;
}

.recommended__item {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
  margin-right: 40px;
}

.recommended__watch-later-button {
  display: none;
  position: absolute;
  z-index: 2;
  width: 125px;
  height: 33px;
  top: 10px;
  right: 10px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url("../img/arrow-circle-down.svg");
  background-repeat: no-repeat;
  background-size: 33px 33px;
  background-position: right center;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.recommended__item:hover .recommended__watch-later-button {
  display: block;
}

.recommended__watch-later-text {
  display: none;
}

.recommended__watch-later-button:hover .recommended__watch-later-text {
  display: block;
}

.recommended__link {
  font-size: 13px;
  line-height: 16px;
  color: $color-primary;
  text-decoration: none;
}

.recommended__demo-wrapper {
  position: relative;
  z-index: 1;
  margin-bottom: 10px;
}

.recommended__demo-time {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  right: 10px;
  padding: 3px 9px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 12px;
}

.recommended__demo-img {
  display: block;
  width: 540px;
  height: 250px;
  border-radius: 14px;
}

.recommended__item-heading {
  margin: 0;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 20px;
  color: $color-heading;
}

.recommended__item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recommended__item-info-left {
  display: flex;
}

.recommended__item-views {
  display: flex;
  align-items: center;
  margin: 0;

  &::after {
    content: "";
    width: 2px;
    height: 2px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: $color-primary;
  }
}

.recommended__item-uploaded {
  margin: 0;
}

.recommended__name {
  margin: 0;
  font-weight: normal;
}


@include breakpoint-down (1000) {
  .recommended__list-controller-button-wrapper {
    display: none;
  }

  .recommended__list {
    flex-wrap: wrap;
  }

  .recommended__item {
    flex-shrink: 1;
    margin-bottom: 30px;
  }
}



@include retina-bg {
  .recommended__heading {
    &::before {
      background-image: url("../img/dolli-blair-img@2x.jpg");
    }
  }
}