.sitenav {
  display: flex;
  flex-direction: column;
  width: 160px;
  margin-right: 66px;
}

.sitenav__list {
  @include reset-list;
}

.sitenav__item {
  margin-bottom: 28px;

  &--subscriptions {
    margin-bottom: 60px;
  }
}

.sitenav__item--active .sitenav__link-heading,
.sitenav__item--active .sitenav__link .sitenav__link-logo {
  color: #ff0000;
  fill: #ff0000;
  opacity: 1;
}

.sitenav__link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sitenav__link:hover .sitenav__link-heading,
.sitenav__link:hover .sitenav__link-logo {
  color: rgba(255, 0, 0, 0.5);
  fill:  #ff0000;
}

.sitenav__link-heading {
  margin: 0;
  margin-left: 15px;
  color: $color-navbar;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.sitenav__more-button {
  display: flex;
  align-items: center;
  padding: 0;
  margin-bottom: 60px;
  border: none;
  background-color: transparent;
  color: $color-navbar;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  outline: none;

  &::before {
    content: "";
    width: 14px;
    height: 8px;
    margin-right: 15px;
    background-image: url("../img/down-icon.svg");
    background-repeat: no-repeat;
    background-size: 14px 8px;
    background-position: center center;
  }

  &:hover {
    color: rgba(255, 0, 0, 0.5);
  }
}

.sitenav__subscriptions-heading {
  margin: 0;
  margin-bottom: 33px;
  color: #000000;
  font-size: 18px;
  line-height: 23px;
}

.sitenav__subscriptions-list {
  @include reset-list;
}

.sitenav__subscriptions-item {
  display: flex;
  align-items: center;
  margin-bottom: 23px;

  &::before {
    transition: transform 0.3s ease;
    content: "";
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 26px 26px;
    background-position: center center;
  }

  &--gussie::before {
    background-image: url("../img/gusiie-img.jpg");
  }

  &--nora::before {
    background-image: url("../img/nora-img.jpg");
  }

  &--belle::before {
    background-image: url("../img/belle-img.jpg");
  }

  &--eunice::before {
    background-image: url("../img/eunice-img.jpg");
  }

  &--emma::before {
    background-image: url("../img/emma-img.jpg");
  }

  &--leah::before {
    background-image: url("../img/leah-img.jpg");
  }
}

.sitenav__subscriptions-item:hover::before {
  transform: scale(1.3);
}

.sitenav__subscriptions-link {
  font-size: 16px;
  line-height: 20px;
  color: $color-navbar;
  text-decoration: none;
  white-space: nowrap;
  transition: color 0.3s ease;

  &:hover {
    color: rgba(255, 0, 0, 0.5);
  }
}